/*	
	Author: Kyle Christian Cole
	Document: About_Styles.css
	Project: C-Treasures
	Course: COMP 424 - Client-Side Web Design
*/

/* Overall page styles */
.pageContent 
  { margin-top: 65px; } 

#owner-image
{
   max-width: 100%;
   height: auto;
}

/* Greeting Message styles */
.blockquote
{
    background-color: rgb(179, 209, 255);
    border-radius: 1%;
    width: 78%;
    height: auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-size: 1.5rem;
}

/* Biography Section styles */
#about-info
{
   text-align: left;
   width: 78%;
   height: auto;
   background-color: rgb(230, 245, 255);
}            
#contact-info 
  { padding: 10px 30px 20px; }
#contact-link
{ 
  color: purple;
  text-decoration: none;
}
#contact-link:hover
  { text-decoration: underline; }

/* Biography Pargraph styles */
#about-shop 
  { padding: 0px 30px 20px 30px; }

#about-jeweler 
  { padding: 0px 30px 20px 30px; }

/* For mobile-friendly viewing */
@media screen and (max-width: 600px) 
{
  #owner-image
    { width: 80%; }

  .pageContent
    { margin-top: 40px; }

  #img-caption
    { width: 80%; }
}
