/*
	Author: Kyle Christian Cole
	Document: ProductPage_Styles.css
	Project: C-Treasures
	Course: COMP 424 - Client-Side Web Design
*/

/* Overall page styles */
div.pageContent
    { margin-left: 220px;	}

/* Provides distance between product image & top nav */
#product-image 
    { margin-top: 60px; }

/* Helps with giving sppace around the product image */
* { box-sizing: border-box; }

/* Overall Div for displaying product info */
.product-container
{
  	padding-top: 15px;
  	display: flex;
}

/* Div containing the product image */
.image-container
{
  	width: 30%;
  	position: relative;
}
/* Specifies the location of the product image */
.image-container img
 {
  	width: 100%;
  	position: relative;
  	padding-top: 0;
 	  padding-left: 0px;
  	padding-right: 30px;
}
/* Div column with product description & price */
.product-info
{
    width: 60%;
    margin-top: 75px;
}
.product-description 
{
  	margin-top: -40px;
  	border-bottom: 1px solid #E1E8EE;
}
.product-description span 
{
  	font-size: 12px;
  	letter-spacing: 1px;
  	text-transform: uppercase;
  	text-decoration: none;
}
.product-description p 
{
  	font-size: 16px;
  	font-weight: 300;
  	line-height: 24px;
}
.product-price 
{
  	display: flex;
  	align-items: center;
}
 
.product-price span 
{
  	font-size: 25px;
  	font-weight: 300;
  	margin-right: 20px;
}
 
.cart-button 
{
  	display: inline-block;
  	background-color: black;
  	border-radius: 6px;
  	font-size: 20px;
  	color: white;
  	text-decoration: none;
  	padding: 12px 30px;
  	transition: all .5s;
}
.cart-button:hover { background-color: #33ccff; }

/* For mobile-friendly viewing */
@media screen and (max-width: 700px) 
{
  				
    div.pageContent 
    {
      margin-left: 30px;
    }

	#product-image
  { 
    margin-top: 40px;
  }

}

/* More queries for other screen sizes */
@media (max-width: 940px) 
{
  	.product-container 
  	{
    	flex-direction: column;
    	margin-top: 60px;
  	}
 
  	.image-container, .product-info { width: 100%; }
 
  	.image-container img 
  	{
    	width: 300px;
    	right: 0;
    	top: -65px;
    	left: initial;
  	}
  	.product-description
  	{
    	margin-top: -80px;
  	}
}
 
 @media (max-width: 535px) 
 {
  	.image-container img 
  	{
   	 	width: 100%;
    	height: auto;
    	top: -65px;
  	}

  	.product-description { margin-top: -80px; }
}