/*
	Author: Kyle Christian Cole
	Document: ProductPage_Styles.css
	Project: C-Treasures
	Course: COMP 424 - Client-Side Web Design
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.product-card
{
	max-width: 200px;
}

body
{
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

#header
{
	background-color: rgb(0, 230, 230);
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
}
					
#navbar
{
	margin-left: 200px;
	position: fixed;
	display: flex;
	justify-content: flex-start;
	background-image: linear-gradient(#80dfff, #0086b3);
	width: 100%;
	max-height: 60px;
}
.nav-link
{
	text-decoration: none;
	color: white;
	padding: 1rem;
	display: flex;
	margin-right: 1rem;
}
.nav-link:hover
{
	background-color: cyan;
	color: blue;
}
#navbar .search-bar { float: right; }
#navbar input[type=text] 
{
  	padding: 6px;
  	margin-top: 8px;
  	font-size: 17px;
  	border: none;
  	width: 700px;
}

#navbar .search-bar button 
{
  	float: right;
  	padding: 6px 10px;
  	margin-right: 16px;
  	background: #ddd;
  	font-size: 17px;
  	border: none;
  	cursor: pointer;
}
#navbar .search-bar button:hover { background: #ccc; }

#Search_Btn
{
	max-height: 21px;
	max-width: 21px;
}
#cartImg
{
	margin-left: 5px;
	max-width: 35px;
	max-height: 35px;
	margin-top: 10px;
}
#banner
{
	max-height: 300px;
	max-width: 200px;
}

.sideMenu 
{
  	padding: 0;
  	width: 200px;
    background-color: #e6f9ff;
  	position: fixed;
}
.sideMenu a 
{
  	display: block;
  	color: black;
  	padding: 16px;
  	text-decoration: none;
} 
.sideMenu a.active 
{
  	background-color: cyan;
	color: blue;
}
.sideMenu a:hover:not(.active) 
{
	background-color: #b3e6ff;
	text-decoration: underline;
  	color: blue;
}

div.pageContent
{
	margin-left: 200px;
  	padding: 1px 16px;
  	height: 1000px;
}

#productImage { margin-top: 60px; }

* { box-sizing: border-box; }

 
.container 
{
  	max-width: 1200px;
  	margin: 0 auto;
  	padding: 15px;
  	display: flex;
  	float: left;
}
/* Columns */
.left-column 
{
  	width: 65%;
  	position: relative;
}
 
.right-column 
{
	width: 35%;
  	margin-top: 60px;
}
/* Left Column */
.left-column img
 {
  	width: 100%;
  	position: relative;
  	padding-top: 0;
 	padding-left: 0px;
  	padding-right: 30px;
}
/* Product Description */
.product-description 
{
  	margin-top: -40px;
  	border-bottom: 1px solid #E1E8EE;
  	margin-bottom: 20px;
}
.product-description span 
{
  	font-size: 12px;
  	color: #358ED7;
  	letter-spacing: 1px;
  	text-transform: uppercase;
  	text-decoration: none;
}
.product-description h1 
{
  	font-weight: 300;
  	font-size: 52px;
  	color: #43484D;
  	letter-spacing: -2px;
}
.product-description p 
{
  	font-size: 16px;
  	font-weight: 300;
  	color: #86939E;
  	line-height: 24px;
}

/* Product Price */
.product-price 
{
  	display: flex;
  	align-items: center;
}
 
.product-price span 
{
  	font-size: 40px;
  	font-weight: 300;
  	color: #43474D;
  	margin-right: 20px;
}
 
.cart-btn 
{
  	display: inline-block;
  	background-color: black;
  	border-radius: 6px;
  	font-size: 20px;
  	color: #FFFFFF;
  	text-decoration: none;
  	padding: 12px 30px;
  	transition: all .5s;
}
.cart-btn:hover { background-color: #33ccff; }

@media screen and (max-width: 700px) 
{
  	.sideMenu
  	{
    	width: 100%;
    	height: auto;
   		position: relative;
   		margin-top: 0;
 	}
  				
    div.pageContent {margin-left: 30px}

  	#banner { display: none; }

  	#header
	{
		background-color: rgb(0, 230, 230);
		position: fixed;
		width: 100%;
	}

  	#navbar
	{
		position: relative;
	    background-image: linear-gradient(#80dfff, #0086b3);
		width: 100%;
		max-height: 60px;
		margin-left: 0;
	}
	#navbar a
	{
		text-decoration: none;
		color: white;
		padding: 1rem;
		margin-right: 1rem;
	}
	#navbar a:hover
	{
		background-color: cyan;
		color: blue;
	}

	#productImage { margin-top: 12px; }
}

/* Responsive */
@media (max-width: 940px) 
{
  	.container 
  	{
    	flex-direction: column;
    	margin-top: 60px;
  	}
 
  	.left-column, .right-column { width: 100%; }
 
  	.left-column img 
  	{
    	width: 300px;
    	right: 0;
    	top: -65px;
    	left: initial;
  	}
  	.product-description
  	{
    	margin-top: -80px;
  	}
}
 
 @media (max-width: 535px) 
 {
  	.left-column img 
  	{
   	 	width: 100%;
    	height: auto;
    	top: -65px;
  	}

  	.product-description { margin-top: -80px; }
}