<!--
	
	Author: Kyle Christian Cole
	Document: About.html
	Project: C-Treasures
	Course: COMP 424 - Client-Side Web Design
	
	Sources	
		Background Color Picker
			https://www.w3schools.com/colors/colors_picker.asp
		Web Portfolio
			https://codepen.io/kyle_cole/full/yLeoaJO
    	Tim-Berners Lee Tribute Page
      		https://codepen.io/kyle_cole/full/WNreebW
		Side Menu Example
			https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp
		Noto Sans Font
			https://fonts.google.com/specimen/Noto+Sans?sidebar.open&selection.family=Noto+Sans
		Responsive Navigation w/ Search Bar
			https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_searchbar3
		Responsive Website Example
			https://www.w3schools.com/howto/howto_css_example_website.asp 
		Media Queries
			https://www.w3schools.com/css/css_rwd_mediaqueries.asp
		Mobile Menu Icon
			https://www.clipartmax.com/max/m2i8i8A0K9A0H7b1/
		Cart Icon
			https://www.freepik.com/free-icon/shopping-cart_933785.htm
-->

<html>
	<head>
		<title>About</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/About_Styles.css">
		<link rel="stylesheet" href="/Navigation_Styles.css">
	</head>

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
		body
		{ 
  			font-family: 'Noto Sans', sans-serif;
  			margin-top: 0; 
		}
	</style>
	
	<body>
		<!-- Top Nav Menu -->
		<div>
			<nav class="topMenu">
				<a href="get">Shop</a>
				<a class="active" href="about">About</a>
				<a href="events">Events</a>
				<a href="contact">Contact</a>
				<a href="cart"><img id="cart-icon" src="/Cart_Icon.png"></a>

				<!-- Search Bar -->
				<div class="search-bar">
    				<form>
      					<input type="text" placeholder="Search.." name="search">
      					<button style="margin-top: 8px" type="submit"><img id="search-icon" src="/Search_Icon.png"/></button>
    				</form>
  				</div>	
			</nav>
		</div>

		<!-- Side Menu -->
		<div class="sideMenu">
			<img id="banner-image" src="/banner.jpg"/>
			<a class="dropDownBtn">Products <img id="menu-icon" src="/MobileMenuIcon.png"/></a>
 		
 			<div class="dropDownMenu">
 				<a href="#">All Products</a>
 				<a href="#">Bracelets</a>
 				<a href="#">Earrings</a>
    			<a href="#">Pendants</a>
    			<a href="#">Loom Patterns</a>
 			</div>
		</div>

		<script>
			/*  Used to hide or show side menu options */
			var dropDownMenu = document.getElementsByClassName("dropDownBtn");
			var i;

			for (i = 0; i < dropDownMenu.length; i++) 
			{
  				dropDownMenu[i].addEventListener("click", function() 
  				{
  					this.classList.toggle("active");
  					var menuOptions = this.nextElementSibling;
  					if (menuOptions.style.display === "block") 
  					{
  						menuOptions.style.display = "none";
  					}
  					else 
  					{
  						menuOptions.style.display = "block";
  					}
  				});
			}
		</script>
		
		<!-- Main Content -->
		<main class= "pageContent">
			<center>
				<h1 id="shop-title">Carri's Treasures</h1>

				<!-- Store Owner Image -->
				<div>    
          				<img id="owner-image" src="/About_Image.png">
          				<figcaption id="img-caption">Taken at the arts & crafts event known as Art in the Park in Griffith, Indiana</figcaption>
        		</div>

        		<br>
        			<!-- Greeting Message -->
        			<div class="blockquote">
          				<blockquote>
            				Hello! My name is Carri Cole, and welcome to my shop!
          				</blockquote>
        			</div>

        			<br>
      				<!-- About Store Owner & Shop -->
        			<section id="about-info">
        
        				<hr style="padding: 3px; background-color: rgb(153, 204, 255); border: none;">

          				<article id="about-shop">

          					<h3>About Carri's Treasures</h3>

          					Support a small business today! My one-woman shop, Carri’s Treasures, is proud to offer radiant, one-of-a-kind jewelry pieces that I believe are just what you’re looking for! I do custom pieces, as well. 
          				</article>

          				<article id="about-jeweler">
          					
          					<h3>About Me</h3>

          					Jewelry-making has been a passion of mine for over ten years. I have learned so much from not only taking various jewelry classes all over the United States, but also teaching some of these classes to fellow creatives. You may have spotted me at events like Art in the Park, Park Full of Art, and Tall Grass! I am confident that being open to learning new methods and patterns along the way has furthered me in my decade-long journey of becoming an experienced and knowledgeable jeweler.
          				</article>
   
        				<hr style="padding: 3px; background-color: rgb(153, 204, 255); border: none;">
        
        				<div id="contact-info">
          					If you would like to reach out to me, just fill out the 
          					<a id="contact-link" target="_blank" href="contact">contact form</a>, and let's get started!
        				</div>
        		</section>
        
			</center>
		</main>

	</body>
</html>