
<!--Citations for cart.html-->
<!--For this page, inspiration used is: https://www.w3schools.com/howto/howto_css_checkout_form.asp-->
<!-- and https://codepen.io/justinklemm/pen/zAdoJ (Used this to help with my css positioning and grid-like structure)-->
 <!--Plans for page: get a script to work (No PHP) can edit and remove items from cart and have this page link to the shop page-->




<html>

<head>


<img img class="moveimage" src="carrit.png";>
<img img class="moveimage2" src="sidebar.png" width="250" height="600";>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Basket</title>
  <head>

  <link rel="stylesheet" href="cart.ejs">

</head>

<body>
  <main>


    <ul>
      <li><a class="active" href="navbar.html">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="events.html">Events</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="cart.html">Cart</a></li>

    </ul>


    <div class="basket">
      <div class="basket-labels">
        <ul>
          <li class="item item-heading">Item</li>
          <li class="price">Price</li>

        </ul>
      </div>
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="https://i.etsystatic.com/6714821/c/1834/1456/0/685/il/a4a54c/1224896936/il_340x270.1224896936_yivt.jpg" alt="Placholder Image 2" class="product-frame">
          </div>
          <div class="product-details">
            <h1><strong>Jasper Dangle Earrings</strong></h1>


          </div>
        </div>
        <div class="price">$24.00</div>
        <div class="quantity">

        </div>

        <div class="remove">
          <button>Remove</button>
        </div>
      </div>
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="https://i.etsystatic.com/6714821/d/il/d8aa4e/1280904667/il_340x270.1280904667_am1y.jpg?version=0" class="product-frame">
          </div>
          <div class="product-details">
            <h1><strong> Red, White, & Black Loom Bracelet </strong> </h1>
          </div>
        </div>
        <div class="price">$24.00</div>
        <div class="quantity">
        </div>
        <div class="remove">
          <button>Remove</button>
        </div>
      </div>
    </div>
    <aside>
      <div class="summary">
        <div class="summary-total-items"><span class="total-items"></span> <h3>Cart Summary</h3> </div>
        <div class="summary-subtotal">
          <div class="subtotal-title">Total + Shipping: </div>
          <div class="subtotal-value final-value" id="basket-subtotal">$48.00</div>


        </div>
          <div class="summary-total">
          <div class="total-title">Total</div>
          <div class="total-value final-value" id="basket-total">$48.00</div>
        </div>
        <div class="summary-checkout">
          <button class="checkout-cta">Go to Secure Checkout</button>
        </div>
      </div>
    </aside>
  </main>
</body>

</html>
